body,
html {
  font-family: 'Josefin Sans', 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #222222;
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.4;
}

a,
a:active,
a:hover,
a:link,
a:visited {
  color: black;
}
